body {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}
header h4 {
  font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left, #6644c5, #b393d3);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.btn-groups {
margin-top: 15px;
display: flex;
justify-content: center;
align-items: center;
}

.btn-groups button {
border-radius: 8px;
outline: none;
}
.speed-input {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#p-header {
text-align: center;
font-size: 16px;
color: #6644c5;
font-family: Arial, Helvetica, sans-serif;
}

#speed-text {
margin-right: 10px;
font-family: Arial, Helvetica, sans-serif;
color: #555555;
}

#speed {
outline: none;
}
#text {
  width: 100%;
  height: 50vh;
  resize: none;
  outline: none;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

#play-button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#stop-button {
  background-color: #f44336;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#pause-button {
  background-color: #008CBA;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}